$sp-50: 4px;
$sp-100: 8px;
$sp-150: 12px;
$sp-200: 16px;
$sp-250: 20px;
$sp-300: 24px;
$sp-350: 28px;
$sp-400: 32px;
$sp-500: 40px;
$sp-600: 48px;

$indigo-100: #eeebff;
$indigo-200: #ddd8ff;
$indigo-300: #ccc4ff;
$indigo-400: #bbb0ff;
$indigo-500: #9a89ff;
$indigo-600: #7861ff;
$indigo-700: #563aff;
$indigo-800: #452ecf;
$indigo-900: #3423a0;
$indigo-1000: #241770;
$indigo-1100: #1b1158;
$indigo-1200: #130c41;

$cyan-100: #e6fcfd;
$cyan-200: #ccf8fb;
$cyan-300: #b3f5f9;
$cyan-400: #99f1f7;
$cyan-500: #66eaf2;
$cyan-600: #33e3ee;
$cyan-700: #00dcea;
$cyan-800: #00b0bb;
$cyan-900: #00848c;
$cyan-1000: #00585e;
$cyan-1100: #004246;
$cyan-1200: #002c2f;

$violet-100: #f2e8fe;
$violet-200: #e6d1fc;
$violet-300: #dabafb;
$violet-400: #cda3f9;
$violet-500: #b476f6;
$violet-600: #9c48f3;
$violet-700: #831af0;
$violet-800: #6915c0;
$violet-900: #4f1090;
$violet-1000: #340a60;
$violet-1100: #270848;
$violet-1200: #1a0530;

$green-100: #e6fcf4;
$green-200: #ccf9e9;
$green-300: #b3f7de;
$green-400: #99f4d3;
$green-500: #66eebe;
$green-600: #33e9a8;
$green-700: #00e392;
$green-800: #00b675;
$green-900: #008858;
$green-1000: #005b3a;
$green-1100: #00442c;
$green-1200: #002d1d;

$neutral-100: #ffffff;
$neutral-200: #f7f7f7;
$neutral-300: #f3f3f8;
$neutral-400: #e9ecef;
$neutral-500: #dee2e6;
$neutral-600: #ced4da;
$neutral-700: #adb5bd;
$neutral-800: #90979d;
$neutral-900: #74797f;
$neutral-1000: #495057;
$neutral-1100: #343a40;
$neutral-1200: #313437;
$neutral-1300: #2c2d2e;
$neutral-1400: #1b1b1b;
$neutral-black: #1b1c1c;

$error-100: #fff4f3;
$error-200: #ffd8d6;
$error-300: #ffc4c1;
$error-400: #ffb1ac;
$error-500: #ff8983;
$error-600: #ff6259;
$error-700: #ff3b30;
$error-800: #cd2f26;
$error-900: #9c231d;
$error-1000: #6a1813;

$warning-100: #fffae5;
$warning-200: #fff5cc;
$warning-300: #fff0b2;
$warning-400: #ffeb99;
$warning-500: #ffe066;
$warning-600: #ffd633;
$warning-700: #ffcc00;
$warning-800: #cca300;
$warning-900: #997a00;
$warning-1000: #665200;

$shadow-100: #23232308;
$shadow-200: #76767614;

$normal-animation: 0.2s ease-in-out all;
$component-animation: 0.2s ease-in-out;
